.background-paulo {
    background-image: url(../img/outrogato.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#whatsapp {
    font-size: 5vh;
    transition: 0.3s;
}

#whatsapp:hover {
    font-size: 5vh;
    transition: 0.3s;
    color: #00ff00;
}